.JobSiteList {
  justify-content: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__siteBox {
    min-width: 300px;
    display: flex;
    border-bottom: 2px solid;
    border-color: #667eea;
    align-items: center;

    &__id {
      width: 30px;
      text-align: left;
    }
    &__siteName {
      width: 150px;
      text-align: left;
      word-break: break-all;
    }
  }
}
