.ApplicationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 30px;
}
.ApplicationForm__buttonOpenForm {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #020202;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffffff;
  font-size: clamp(0.9rem, 1.1vw, 1rem);
  background: linear-gradient(to top, #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  border-color: hsl(0, 0%, 2%);
  box-shadow: inset 0 0 0.3rem 0.3rem #474747, 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
  text-shadow: 0.03rem 0.03rem 0.03rem #000;
  border-radius: 1.5rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.ApplicationForm__buttonOpenForm:hover {
  color: #ffffff;
  background: linear-gradient(to top, #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  border-color: hsl(0, 0%, 5%);
  box-shadow: inset 0 0 0.2rem 0.2rem #4d4d4d, 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  text-shadow: 0.03rem 0.03rem 0.03rem #000;
  transform: translateY(-0.1rem);
}
.ApplicationForm__buttonOpenForm:active {
  color: #ffffff;
  background: linear-gradient(to top, #000 0%, #050505 100%);
  transform: translateY(0);
  box-shadow: none;
}
.ApplicationForm__form {
  display: flex;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0;
  background-color: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 80;
}
.ApplicationForm__form_box {
  padding: 40px;
  width: 700px;
  border-radius: 30px;
  background-color: rgba(233, 232, 235, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 700px) {
  .ApplicationForm__form_box {
    width: 100%;
  }
}
.ApplicationForm__form__input {
  position: relative;
  width: 500px;
  background-color: rgba(233, 232, 235, 0.3);
  font-size: 18px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 12px;
  outline: none;
}
@media (max-width: 700px) {
  .ApplicationForm__form__input {
    max-width: 450px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 500px) {
  .ApplicationForm__form__input {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .ApplicationForm__form__input {
    max-width: 300px;
  }
}
.ApplicationForm__form__input_label {
  transition: all 0.2s;
  transform-origin: top left;
  padding-left: 12px;
  font-size: 20px;
}
.ApplicationForm__form__input:focus {
  border: 2px solid rgba(23, 28, 172, 0.5);
}
.ApplicationForm__form__input:-moz-placeholder:not(:focus) + .ApplicationForm__form__input_label {
  font-size: 20px;
  transform: translateY(1.7em) scale(1.25);
  pointer-events: none;
  opacity: 0.5;
}
.ApplicationForm__form__input:placeholder-shown:not(:focus) + .ApplicationForm__form__input_label {
  font-size: 20px;
  transform: translateY(1.7em) scale(1.25);
  pointer-events: none;
  opacity: 0.5;
}
.ApplicationForm__form__message {
  margin-top: 20px;
  font-size: 20px;
  width: 500px;
  height: 200px;
  background-color: rgba(233, 232, 235, 0.3);
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  resize: none;
  padding: 12px;
  outline: none;
}
@media (max-width: 700px) {
  .ApplicationForm__form__message {
    max-width: 450px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 500px) {
  .ApplicationForm__form__message {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .ApplicationForm__form__message {
    max-width: 300px;
  }
}
.ApplicationForm__form__message:focus {
  border: 2px solid rgba(23, 28, 172, 0.5);
}
.ApplicationForm__form__buttonSummit {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #020202;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffffff;
  font-size: clamp(0.9rem, 1.1vw, 1rem);
  background: linear-gradient(to top, #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  border-color: hsl(0, 0%, 2%);
  box-shadow: inset 0 0 0.3rem 0.3rem #474747, 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
  text-shadow: 0.03rem 0.03rem 0.03rem #000;
  border-radius: 1.5rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.ApplicationForm__form__buttonSummit:hover {
  color: #ffffff;
  background: linear-gradient(to top, #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  border-color: hsl(0, 0%, 5%);
  box-shadow: inset 0 0 0.2rem 0.2rem #4d4d4d, 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  text-shadow: 0.03rem 0.03rem 0.03rem #000;
  transform: translateY(-0.1rem);
}
.ApplicationForm__form__buttonSummit:active {
  color: #ffffff;
  background: linear-gradient(to top, #000 0%, #050505 100%);
  transform: translateY(0);
  box-shadow: none;
}
.ApplicationForm__form__buttonClose {
  margin-right: 30px;
  position: fixed;
  margin-top: 30px;
  right: 0;
  top: 0;
  border: none;
  font-size: 30px;
  padding: 0;
  line-height: 0;
}
.ApplicationForm__form__error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 400px;
  list-style-position: inside;
  padding: 10px;
  color: #f80030;
  line-height: 1;
  font-size: 21px;
  margin-bottom: 0 !important;
}
@media (max-width: 700px) {
  .ApplicationForm__form__error {
    max-width: 450px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 500px) {
  .ApplicationForm__form__error {
    width: 350px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .ApplicationForm__form__error {
    width: 350px;
  }
}
.ApplicationForm__form__error_border {
  border: 2px solid #f80030;
}/*# sourceMappingURL=ApplicationForm.css.map */