.userData {
  width: 100%;
  padding: 20px;
}

.tableHeader {
  display: flex;

  &__title {
    border: 1px solid black;
    padding-left: 5px;
    font-weight: 700;

    &_ID {
      width: 120px;
      word-break: break-all;
    }
    &_Name {
      width: 200px;
      word-break: break-all;
    }
    &_SecondName {
      width: 200px;
      word-break: break-all;
    }
    &_Patronymic {
      width: 200px;
      word-break: break-all;
    }
    &_Gender {
      width: 130px;
      word-break: break-all;
    }
    &_Phone {
      width: 200px;
      word-break: break-all;
    }
    &_Email {
      width: 200px;
      word-break: break-all;
    }
    &_Role {
      width: 100px;
      word-break: break-all;
    }
    &_TypeOfWork {
      width: 250px;
      word-break: break-all;
    }
    &_City {
      width: 150px;
      word-break: break-all;
    }
    &_dateOfBirthday {
      width: 150px;
      word-break: break-all;
    }
    &_IsActive {
      width: 200px;
      word-break: break-all;
    }
    &_Actions {
      width: 150px;
      word-break: break-all;
    }
    &_Login {
      width: 150px;
      word-break: break-all;
    }
    &_CreateData {
      width: 160px;
    }
    &_ChangeData {
      width: 160px;
    }
  }
}

.filtersGrid {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}
.filterGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
